on:
  push:

jobs:
  push:
    strategy:
      fail-fast: false
      matrix:
        platforms: ["linux/amd64", "linux/amd64,linux/arm64", "linux/amd64,linux/arm64,linux/386"]
        registry: [ghcr.io]
        pre-push: ['true', 'false']
    runs-on: ubuntu-latest
    env:
      IMAGE: ${{ matrix.registry }}/${{ github.repository }}/${{ strategy.job-index }}-${{ github.sha }}
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          registry: ${{ matrix.registry }}
          username: token
          password: ${{ secrets.CR_PAT }}
      -
        name: Pre-publish using docker push
        run: |
          docker pull alpine
          docker tag alpine ${{ env.IMAGE }}:pre-push
          docker push ${{ env.IMAGE }}:pre-push
        if: matrix.pre-push == 'true'
      -
        run: echo "FROM --platform=$BUILDPLATFORM golang:alpine" > Dockerfile
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.IMAGE }}
          platforms: ${{ matrix.platforms }}
